{{page-title "Aanvragen"}}

{{this.model.activiteit.name}}
{{this.model.activiteit.date}}

<div class="au-c-body-container au-c-body-container--scroll">
  <div class="au-o-box">
    <div class="au-o-box">
      <Form::NewInstance @form={{this.model.form}} />
    </div>
  </div>
</div>