<div class="au-c-body-container au-c-body-container--scroll">
  <div class="au-o-box">
    <div class="au-o-grid au-o-grid--small">
      <div class="au-o-grid__item au-u-2-5@medium">
        <AuContent class="au-u-margin-bottom">
          <!--- Using user name instead of organization name because didn't have the time to get the correct model into the db -->
          <AuHeading @skin="2">{{this.currentSession.user.voornaam}}
            {{this.currentSession.user.achternaam}}</AuHeading>
          <p>Indien u toegang mist tot een van de modules in het loket, neem
            contact op met uw
            <strong>interne beheerder</strong>. Indien er zich een probleem
            voordoet met
            <strong>toegang</strong>, neem contact op met het
            <a
              href="https://overheid.vlaanderen.be/ict/ict-diensten/gebruikersbeheer"
              class="au-c-link"
            >gebruikersbeheer Vlaanderen</a>.</p>
        </AuContent>
      </div>
    </div>
    <AuHeading @level="2" @skin="3" class="au-u-margin-bottom">Beschikbare
      modules</AuHeading>

    <ul class="au-o-grid au-o-grid--small">
      <li class="au-o-grid__item au-u-1-2@medium au-u-1-3@large">
        <LoketModuleCard @icon="users">
          <:title>Aanvragen</:title>
          <:description>Hier vind je een overzicht van de aanvragen.</:description>
          <:link>
            <AuLink @route="aanvragen" @skin="button">Ga naar aanvragen</AuLink>
          </:link>
        </LoketModuleCard>
      </li>
    </ul>

  </div>
</div>